.container {
  grid-area: 3 / 1 / 6 / 4;
  height: 80%;
  width: 98%;
  overflow: scroll;
  border: 1px solid #f2f3fa;
  margin: 2rem;
  border-radius: 20px;
  padding: 1rem;
}

.title {
  color: #26272e;
  font-size: 1.4rem;
  position: fixed;
  margin-top: -3rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}

@media only screen and (max-height: 45em) {
  .container {
    height: 70%;
  }
}

@media only screen and (max-height: 34.6em) {
  .container {
    height: 65%;
  }
  .title {
    color: #26272e;
    font-size: 1.2rem;
  }
}
