.App {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.5rem;
}

.error {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: #4c4e5d;
}

.small-error {
  grid-area: 3 / 1/ 7 / 7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.error-text {
  border: 1px solid red;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 20px;
  color: rgb(139, 8, 8);
}
